.card-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
	color: white;
    font: normal 32px/1.6 system-ui, sans-serif;
	text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
}

.card {
    width: 31rem;
    height: 20rem;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}

:where(.css-dev-only-do-not-override-j0nf2s).ant-input-group .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid transparent;
    box-shadow: none;
    background-color: white;
    width: 7rem;
}